# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# VS Code
.vscode/
.vscode/**

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll

# Dashboard
dashboard/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log